* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4B1426;
    background-color: #558467;
    font-size: 16px;
    line-height: 1.5;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
