* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4B1426;
    background-color: #558467;
    font-size: 16px;
    line-height: 1.5;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #4B1426;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 12px;
    background-color: #17433F;
}

nav a {
    color: white;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

@media (max-width: 700px) {
    nav {
        display: block;
        text-align: center;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #17433F;
    border-radius: 10px;
    background-color: white;
}

h2 {
    color: #4B1426;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #558467;
    border-radius: 5px;
}

textarea {
    min-height: 120px;
}

button {
    background-color: #4B1426;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #17433F;
}

#mensaje {
    color: #17433F;
    padding: 10px;
    border: 1px solid #558467;
    border-radius: 5px;
}


.oculto {
    display: none;
}

footer {
    background-color: #17433F;
    color: white;
    text-align: center;
    padding: 20px;

}
